body {
    background-image: url(https://images.unsplash.com/photo-1470790376778-a9fbc86d70e2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTR8fHBvcnRmb2xpbyUyMGJhY2tncm91bmR8ZW58MHx8MHx8&w=1000&q=80);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a:link{text-decoration: none;}
a:hover{color: seagreen;
background-color: rgb(39, 69, 36);
border-radius: 10px;
padding: 5px;
}
a:visited{color: seagreen;}

#h {
    background-color: rgb(193, 249, 193);
    color: rgb(39, 69, 36);
    padding: 5px;
    border-radius: 3px;
}

#f {
    background-color: rgb(193, 249, 193);
    color: rgb(39, 69, 36);
    padding: 5px;
    border-radius: 3px;
}

#s {
    background-color: rgb(193, 249, 193);
    color: rgb(39, 69, 36);
    padding: 5px;
    border-radius: 3px;
}

#e {
    background-color: rgb(193, 249, 193);
    color: rgb(39, 69, 36);
    padding: 5px;
    border-radius: 3px;
}

.home {
    color: rgb(196, 251, 207);
    background-color: rgba(39, 69, 36, 0.905);
    position: fixed;
    font-size: 20px;
    z-index: 10;
    top: 0px;
    left: 0px;
    line-height: 1cm;
    width:-webkit-fill-available;
    margin-top: 0;
    text-align:center;
    display: flex;
    justify-content: space-evenly
}

#inicio {
    color: white;
    background-color: rgb(68, 115, 83);
    font-size: 48px;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    border-radius: 25px;
    margin-top: 2cm;
}

#me {
    color: rgb(39, 69, 36);
    background-color: rgb(193, 249, 193);
    border-radius: 15px;
    font-size: 24;
    font: bold;
}

#frase {
    color: rgb(1, 84, 27);
    font-size: 15px;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}

.list {
    color: rgb(193, 249, 193);
    background-color: rgba(68, 115, 83, 0.86);
    font-size: 20px;
    margin-top: 1400px;
    text-align: center;
    border-radius: 15px;
}

#hab {
    background-color: rgb(39, 69, 36);
    font-size: 25px;
    width:-webkit-fill-available;
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 10px;
}

#chk {
    font-size: 23px;
    font-family: 'Times New Roman', Times, serif;

}

#foto {
    box-sizing: border-box;
    border-radius: 15px;
    padding: 10px;
    background-color: seagreen;
}

#info {
    color: rgb(65, 65, 65);
    font-size: 20px;
    font-style: italic;
    text-align: center;
    margin-top: 100px;
    width:-webkit-fill-available;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#tag{text-align-last: center;
margin-top: 100px;}

.fts {
    border-radius: 15px;
    padding: 10px;
    background: local seagreen;
}

#sobre {
    background-color: rgb(68, 115, 83);
    color: rgb(196, 251, 207);
    font-style: italic;
    font-size: 24px;
    padding: 10px;
    position: absolute;
    top: 1300px;
    right: 1px;
    width:-webkit-fill-available;
}

#cidade {
    background-color: seagreen;
    border-radius: 15px;
    color: rgb(193, 249, 193);
    line-height: 25px;
}

#id {
    background-color: rgba(68, 168, 97, 0.6);
    border-radius: 15px;
    color: rgb(39, 69, 36);
    padding: 10px;
    margin-top: 0;
}

#lets{
    color: rgb(39, 69, 36);
    font-size: 36px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.perfil {
    border-radius: 15px;
    float: right;
    width:-webkit-fill-available;
    margin-top: 70px;
}

.local {
    border-radius: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    float: left;
    width:-webkit-fill-available;
}

.lofil {
    border-radius: 15px;
    width:-webkit-fill-available;
    overflow: auto;
    position: absolute;
    box-sizing:border-box;
    background-color: rgba(193, 249, 193, 0.866);
    display: flex;
    justify-content: center;
}